@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ACCESS DENIED!</h1>

<p>Please click the link to be redirected!</p>
@Html.ActionLink("Back to Home", "Index", "Home")



