@{
    ViewBag.Title = "About Tamer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Tamer! Tamer is a ASP.NET application that allows you to view and execute battle simulations to define a victor based on the stats of two monsters. Create accounts, monsters, and see if yours will be victorious!</p>
