@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    618 West James Street<br />
    Claxton, GA 30417<br />
    <abbr title="Phone">P:</abbr>
    912.481.0206
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:JustinDavisA@Gmail.com">JustinDavisA@Gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:SirTristanDavis@Gmail.com">SirTristanDavis@Gmail.com</a>
</address>